@import url("font-awesome.min.css");
@font-face {
  font-family: rubik;
  src: url('../fonts/rubik-regular.eot');
  src: url('../fonts/rubik-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/rubik-regular.woff2') format('woff2'), url('../fonts/rubik-regular.woff') format('woff'), url('../fonts/rubik-regular.ttf') format('truetype'), url('../fonts/rubik-regular.svg#svgFontName') format('svg');
}
@font-face {
  font-family: cuprum;
  src: url('../fonts/cuprum-regular.eot');
  src: url('../fonts/cuprum-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/cuprum-regular.woff2') format('woff2'), url('../fonts/cuprum-regular.woff') format('woff'), url('../fonts/cuprum-regular.ttf') format('truetype'), url('../fonts/cuprum-regular.svg#svgFontName') format('svg');
}
@font-face {
  font-family: awesome;
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2') format('woff2'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.svg#svgFontName') format('svg');
}
body * {
  color: #484848;
  font-family: rubik, Arial, sans-serif;
}
a {
  color: #33cc99;
}
a:hover {
  text-decoration: none;
  color: #29a37a;
}
a:focus {
  text-decoration: none;
  color: #29a37a;
}
* {
  outline: none!important;
}
nav.navbar {
  border: 0;
  background: #33cc99;
  margin-bottom: 20px;
  font-weight: 600;
}
nav.navbar .navbar-header .navbar-brand {
  color: #484848;
  margin-left: 0;
}
nav.navbar .navbar-header .navbar-toggle {
  background: #33cc99;
  border-color: #484848;
}
nav.navbar .navbar-header .navbar-toggle span {
  background-color: #484848;
}
nav.navbar .navbar-collapse {
  border-color: #484848;
  background-color: #33cc99;
}
nav.navbar .navbar-collapse .navbar-nav a {
  color: #484848;
  background-color: #33cc99;
}
nav.navbar .navbar-collapse .navbar-nav .active a {
  color: #ffffff;
  background-color: #29a37a;
}
nav.navbar .navbar-collapse .navbar-nav a:hover {
  color: #ffffff;
  background-color: #29a37a;
}
nav.navbar .navbar-collapse .navbar-nav .dropdown-menu {
  background-color: #33cc99;
}
nav.navbar .navbar-collapse .navbar-nav .dropdown-menu a {
  color: #484848;
  background-color: #33cc99;
}
nav.navbar .navbar-collapse .navbar-nav .dropdown-menu a:hover {
  color: #ffffff;
  background-color: #29a37a;
}
nav.navbar .navbar-collapse .navbar-nav .open > a,
nav.navbar .navbar-collapse .navbar-nav .open > a:hover,
nav.navbar .navbar-collapse .navbar-nav .open > a:focus {
  color: #ffffff;
  background-color: #29a37a;
}
.slider {
  margin-bottom: 50px;
}
.slider .carousel a {
  opacity: 0.6;
  background: transparent;
}
.slider .carousel a span {
  color: #fff;
}
.slider .carousel a:hover {
  opacity: 0.9;
}
.slider .carousel .carousel-caption {
  background: rgba(41, 163, 122, 0.5);
}
.slider .carousel .fa {
  position: relative;
  color: #fff;
  font-size: 50px;
  top: 150px;
}
.lamp-about {
  margin-top: 50px;
}
.lamp-about .lamp-content {
  margin-bottom: 50px;
}
.lamp-about .lamp-content .lamp-image {
  padding-left: 20%;
  float: left;
}
.lamp-about .lamp-content h4 {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.lamp-about .lamp-content p {
  text-align: center;
  padding: 10px 30px;
}
.lamp-about .lamp-content img {
  width: 200px;
}
.lamp-about .lamp-content:nth-child(2) .lamp-image {
  padding-left: 14%;
  float: right;
}
.footer {
  margin-top: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #33cc99;
}
.footer a {
  color: #484848;
}
.footer a:hover {
  color: #fff;
}
.footer h3 {
  padding-left: 50px;
}
.footer ul {
  list-style: none;
  padding-left: 50px;
  text-align: left;
  padding-bottom: 10px;
}
.footer ul .fa {
  font-size: 16px;
}
.footer ul .fa-whatsapp {
  font-weight: bold;
}
.footer .social a {
  padding-left: 10px;
}
.footer .social li:nth-child(2) a {
  padding-left: 7px;
}
